<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Restful Task {{ title }}!
  </h1>

  <button (click)="getAllTasks()">Get all Tasks</button>
  <h2>This is all Tasks</h2>
  <p>{{newTask | json}}</p>
  <form (submit)="createTask()">
    <label for="">Task title:
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
    </label>
    <br>
    <label for="">Task description:
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
    </label>
    <input type="submit" value="Create Task">
  </form>
  <div *ngFor="let task of allTasks">
    <p>{{ task.title }}
      <button (click)="getOneTask(task._id)">Info for this task</button>
      <button (click)="deleteTask(task._id)">Delete</button>
      <button (click)="showEditForm(task)">Edit</button>
    </p>
  </div>
  <div *ngIf="oneTask">
    <h3>{{ oneTask.title }}</h3>
    <p>This is one task: {{ oneTask.description }}</p>
  </div>
  
  
  <div *ngIf="displayForm">
    <form (submit)="editTask()">
      <label for="">Task title:
        <input type="text" name="updateTask.title" [(ngModel)]="updateTask.title">
      </label>
      <br>
      <label for="">Task description:
        <input type="text" name="updateTask.description" [(ngModel)]="updateTask.description">
      </label>
      <input type="submit" value="Update Task">
    </form>
  </div>