<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <!-- <button (click)="onButtonClick()" >Click me!</button>
  <button (click)="onButtonClickParam(5)">Click me!</button>
  <button (click)="onButtonClickParams(5, 'hello')">Click me!</button>
  <button (click)="onButtonClickEvent($event)">Click me!</button> -->
</div>
<button (click)="getAllTasks()">Get all Tasks</button>
<h2>This is all Tasks</h2>
<div *ngFor="let task of allTasks">
  <p>{{ task.title }}
    <button (click)="getOneTask(task._id)">Info for this task</button>
  </p>
</div>
<p>This is one task: {{ oneTask.title }}, {{ oneTask.description }}</p>